.contenedor-juegos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 15px;
}

.card-juego {
  border: 1px solid rgba(122, 153, 255, 0.281);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(43, 74, 83, 0.137);
  /* filter: drop-shadow(0px 0px 1px rgba(220, 20, 60, 0.103)); */
}

.card-juego:hover {
  background-color: rgba(175, 144, 247, 0.137);
}

.card-juego:focus {
  outline: transparent;
  background-color: rgba(175, 144, 247, 0.137);
}

.card-juego:active {
  background-color: rgba(0, 0, 0, 0.137);
}

.card-juego > h3 {
  text-align: center;
  text-shadow:gold 0 1px;
}

.card-juego > img {
  width: 95%;
  aspect-ratio: 1;
  margin: 20px 0 10px 2.5%;
}
